﻿@model Novo.Models.Entity.NewTasks
@using Novo.Models.Entity
@using Microsoft.AspNetCore.Identity

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager


@{
    ViewBag.Title = "Create Task";
    var Code = Guid.NewGuid().ToString("n").Substring(0, 4);
    var user = await UserManager.GetUserAsync(User);
    var formtype = "hidden";
    var Input = "readonly";
}


<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-controller="Tasks" asp-action="Index">Home</a></li>
        <li class="breadcrumb-item">@user.UserName</li>
        <li class="breadcrumb-item active" aria-current="page">New Task Request</li>
    </ol>
</nav>


@{
    var Fullname = user.FirstName + " " + user.LastName;
}

<section id="main-content">
    <section class="wrapper">
        <div class="row mb">
            <div class="col-lg-12">
                <!-- /form-panel -->

                <div class="">
                    <!-- page start-->
                    <div class="content-panel border rounded">
                        <div class="adv-table">


                            <div class="row">

                                <div class="col-md-6 offset-2">
                                    <form asp-action="Create">
                                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label asp-for="TaskName" class="control-label"></label>
                                                    <input asp-for="TaskName" class="form-control" />
                                                    <span asp-validation-for="TaskName" class="text-danger"></span>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label asp-for="TaskType" class="control-label"></label>
                                                    <input asp-for="TaskType" class="form-control" />
                                                    <span asp-validation-for="TaskType" class="text-danger"></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label asp-for="TaskDescription" class="control-label"></label>
                                            <textarea asp-for="TaskDescription" class="form-control" rows="5"></textarea>
                                            <span asp-validation-for="TaskDescription" class="text-danger"></span>
                                        </div>
                                        <div class="form-group" hidden>
                                            <label asp-for="AssignBy" class="control-label"></label>
                                            <input asp-for="AssignBy" value="@user.FirstName @user.LastName" class="form-control" />
                                            <span asp-validation-for="AssignBy" class="text-danger"></span>
                                        </div>
                                        <div class="form-group" hidden>
                                            <label asp-for="EmployeeId" class="control-label"></label>
                                            <input asp-for="EmployeeId" value="@user.Id" class="form-control" />
                                            <span asp-validation-for="EmployeeId" class="text-danger"></span>
                                        </div>

                                        <div class="form-group">
                                            <label asp-for="AssignToId" class="control-label"></label>
                                            <select asp-for="AssignToId" class="form-control" asp-items="ViewBag.AssignToId"></select>

                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label asp-for="ExpectedStartDate" class="control-label"></label>
                                                    <input asp-for="ExpectedStartDate" class="form-control" />
                                                    <span asp-validation-for="ExpectedStartDate" class="text-danger"></span>
                                                </div>
                                            </div>
                                            
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label asp-for="ExpectedEndDate" class="control-label"></label>
                                                    <input asp-for="ExpectedEndDate" class="form-control" />
                                                    <span asp-validation-for="ExpectedEndDate" class="text-danger"></span>
                                                </div>
                                            </div>
                                        </div>



                                        <div class="form-group" hidden>
                                            <label asp-for="AddedBy" class="control-label"></label>
                                            <input asp-for="AddedBy" value="@user.Email" class="form-control" />
                                            <span asp-validation-for="AddedBy" class="text-danger"></span>
                                        </div>

                                        <div class="form-group" hidden>
                                            <label asp-for="CreateDate" class="control-label"></label>
                                            <input asp-for="CreateDate" value="@DateTime.Now" class="form-control" />
                                            <span asp-validation-for="CreateDate" class="text-danger"></span>
                                        </div>


                                        <div class="form-group">

                                            <button type="submit" class="btn btn-rounded btn-primary float-left"><i class="fas fa-plus-square" style="margin-right:0.7em"></i>Create</button>
                                            @if (SignInManager.IsSignedIn(User) && User.IsInRole("User"))
                                            {
                                                <a asp-action="index" asp-controller="Tasks" class="btn btn-rounded btn-success float-right"><i class="fas fa-caret-square-left" style="margin-right:0.7em"></i>Back</a>
                                            }


                                            @if (SignInManager.IsSignedIn(User) && User.IsInRole("HR"))
                                            {
                                                <a asp-action="TAskHR" asp-controller="Tasks" class="btn btn-rounded btn-success float-right"><i class="fas fa-caret-square-left" style="margin-right:0.7em"></i>Back</a>
                                            }

                                            @if (SignInManager.IsSignedIn(User) && User.IsInRole("UnitHead"))
                                            {
                                                <a asp-action="TAskUHead" asp-controller="Tasks" class="btn btn-rounded btn-success float-right"><i class="fas fa-caret-square-left" style="margin-right:0.7em"></i>Back</a>
                                            }
                                            <br />
                                            <br />
                                            <br />

                                        </div>
                                    </form>
                                </div>

                            </div>


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>
<br />
<br />


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
