﻿@model Novo.Models.Entity.NewTasks
@using Microsoft.AspNetCore.Identity

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@{
    ViewData["Title"] = "Task Details";
}

<h3 class="text-center text-info">Task-Information</h3>

<div class="p-4 border rounded row">
    <div class="col-8">
        <div class="form-group row">
            <div class="col-4">
                <label asp-for="TaskName"></label>
            </div>
            <div class="col-8">
                <input asp-for="TaskName" readonly class="form-control" />
            </div>
        </div>
        <div class="form-group row">
            <div class="col-4">
                <label asp-for="TaskType"></label>
            </div>
            <div class="col-8">
                <input asp-for="TaskType" readonly class="form-control" />
            </div>
        </div>

        <div class="form-group row">
            <div class="col-4">
                <label asp-for="TaskDescription"></label>
            </div>
            <div class="col-8">
                <input asp-for="TaskDescription" readonly class="form-control" />
            </div>
        </div>
        <div class="form-group row">
            <div class="col-4">
                <label asp-for="AssignBy"></label>
            </div>
            <div class="col-8">
                <input asp-for="AssignBy" readonly class="form-control" />
            </div>
        </div>
        <div class="form-group row">
            <div class="col-4">
                <label asp-for="ExpectedStartDate"></label>
            </div>
            <div class="col-8">
                <input asp-for="ExpectedStartDate" readonly class="form-control" />
            </div>
        </div>
        <div class="form-group row">
            <div class="col-4">
                <label asp-for="ExpectedEndDate"></label>
            </div>
            <div class="col-8">
                <input asp-for="ExpectedEndDate" readonly class="form-control" />
            </div>
        </div>
        <div class="form-group row">
            <div class="col-4">
                <label asp-for="Comment"></label>
            </div>
            <div class="col-8">
                <input asp-for="Comment" readonly class="form-control" />
            </div>
        </div>
        <div class="form-group row">
            <div class="col-4">
                <label asp-for="Remark"></label>
            </div>
            <div class="col-8">
                <input asp-for="Remark" readonly class="form-control" />
            </div>
        </div>
        <div class="form-group row">
            <div class="col-4">
                <label asp-for="Status"></label>
            </div>
            <div class="col-8">
                <input asp-for="Status" readonly class="form-control" />
            </div>
        </div>



    </div>



    <br />
    <div class="form-group">
        <a asp-action="Edit" class="btn btn-primary" asp-route-id="@Model.Id">Edit</a>
        <a asp-action="Index" class="btn btn-success">Back to List</a>
    </div>
</div>




