﻿@model Novo.Models.Entity.Units

@{
    ViewData["Title"] = "Create";
    Layout = null;
}


<div class="row">
    <div class="col-md-10" style="margin:auto;">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Name" class="control-label"></label>
                </div>
                <div class="col-8">
                    <input asp-for="Name" class="form-control" />
                </div>
                    <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Departments" class="control-label"></label>
                </div>
                    <div class="col-8">
                        <input asp-for="Departments" class="form-control" />
                    </div>
                        <span asp-validation-for="Departments" class="text-danger"></span>
                    </div>
                    <div class="form-group" hidden>
                        <label asp-for="AddedBy" class="control-label"></label>
                        <input asp-for="AddedBy" type="date" value="@DateTime.Now" class="form-control" />
                        <span asp-validation-for="AddedBy" class="text-danger"></span>
                    </div>
                    <div class="form-group" hidden>
                        <label asp-for="UpdatedBy" class="control-label"></label>
                        <input asp-for="UpdatedBy" type="date" value="@DateTime.Now" class="form-control" />
                        <span asp-validation-for="UpdatedBy" class="text-danger"></span>
                    </div>
                    <div class="form-group" hidden>
                        <label asp-for="CreateDate" class="control-label"></label>
                        <input asp-for="CreateDate" type="date" value="@DateTime.Now" class="form-control" />
                        <span asp-validation-for="CreateDate" class="text-danger"></span>
                    </div>
                    <div class="form-group" hidden>
                        <label asp-for="UpdateDate" class="control-label"></label>
                        <input asp-for="UpdateDate" type="date" value="@DateTime.Now" class="form-control" />
                        <span asp-validation-for="UpdateDate" class="text-danger"></span>
                    </div>
                    <div class="form-group" hidden>
                        <div class="checkbox">
                            <label>
                                <input asp-for="IsDelete" value="true" /> @Html.DisplayNameFor(model => model.IsDelete)
                            </label>
                        </div>
                    </div>
                    <div class="form-group row">
                        <input type="submit" value="Create" class="btn btn-primary col-md-12" />
                    </div>
</form>
    </div>
</div>

@*<div>
    <a asp-action="Index">Back to List</a>
</div>*@

@*<h2>Create</h2>

    <h4>Units</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Name" class="control-label"></label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Departments" class="control-label"></label>
                    <input asp-for="Departments" class="form-control" />
                    <span asp-validation-for="Departments" class="text-danger"></span>
                </div>
                <div class="form-group" hidden>
                    <label asp-for="AddedBy" class="control-label"></label>
                    <input asp-for="AddedBy" type="date" value="@DateTime.Now" class="form-control" />
                    <span asp-validation-for="AddedBy" class="text-danger"></span>
                </div>
                <div class="form-group" hidden>
                    <label asp-for="UpdatedBy" class="control-label"></label>
                    <input asp-for="UpdatedBy" type="date" value="@DateTime.Now" class="form-control" />
                    <span asp-validation-for="UpdatedBy" class="text-danger"></span>
                </div>
                <div class="form-group" hidden>
                    <label asp-for="CreateDate" class="control-label"></label>
                    <input asp-for="CreateDate" type="date" value="@DateTime.Now" class="form-control" />
                    <span asp-validation-for="CreateDate" class="text-danger"></span>
                </div>
                <div class="form-group" hidden>
                    <label asp-for="UpdateDate" class="control-label"></label>
                    <input asp-for="UpdateDate" type="date" value="@DateTime.Now" class="form-control" />
                    <span asp-validation-for="UpdateDate" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <div class="checkbox">
                        <label>
                            <input asp-for="IsDelete" /> @Html.DisplayNameFor(model => model.IsDelete)
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-default" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="Index">Back to List</a>
    </div>*@

