﻿@model Novo.Models.Entity.Units

@{
    ViewData["Title"] = "Details";
    Layout = null;
}

@*<h2>Details</h2>*@



    
        <div class="col-8" style="margin:auto;">
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Name"></label>
                </div>
                <div class="col-8">
                    <input asp-for="Name" readonly class="form-control" />
                </div>
            </div>

            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Departments"></label>
                </div>
                <div class="col-8">
                    <input asp-for="Departments" readonly class="form-control" />
                </div>
            </div>

            <div class="form-group">
                <a asp-action="Index" class="btn btn-success">Back</a>
            </div>
        </div>
           
        @*<div>
            <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
            <a asp-action="Index">Back to List</a>
        </div>*@

        @*<div>
            <h4>Units</h4>
            <hr />
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.Name)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Name)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Departments)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Departments)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.AddedBy)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.AddedBy)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.UpdatedBy)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.UpdatedBy)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.CreateDate)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.CreateDate)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.UpdateDate)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.UpdateDate)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.IsDelete)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.IsDelete)
                </dd>
            </dl>
        </div>
        <div>
            <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
            <a asp-action="Index">Back to List</a>
        </div>*@
