﻿@model IEnumerable<Novo.Models.Entity.Units>


@{
    ViewData["Title"] = "Units";
}



    <div class="row">
        <div class="col-md-12 grid-margin">
            <div class="card">
                <div class="card-body">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Units List</li>
                        </ol>
                    </nav>
                    <div class="row">
                        <div class="col-md-12 table-responsive-md">
                            <a class="btn btn-md btn-outline-success float-md-right" @*asp-action="AddOrEdit"*@ onclick="showInPopup('@Url.Action("Create","Units",null,Context.Request.Scheme)','New Units')">
                                Add new Unit
                            </a>
                            <br />
                            <br />

                            <div class="card shadow mb-4">

                                <div class="card-body">
                                    <div class="table-responsive">
                                        <table class="table table-bordered" id="leaves" width="100%" cellspacing="0">
                                            <thead>
                                                <tr>
                                                    <th></th>
                                                    <th>Name</th>
                                                    <th>Departments</th>
                                                    <th class="text-warning">Actions</th>
                                                </tr>
                                            </thead>

                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>


        <div class="modal" tabindex="-1" id="form-modal1">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title"></h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">

                    </div>
                </div>
            </div>
        </div>


        @*<div class="modal" tabindex="-1" id="form-modal">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title"></h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">

                    </div>
                </div>
            </div>
        </div>*@




        @*<table id="leavesll" width="100%">
            <thead>
                <tr>
                    <th>Employee</th>
                    <th>Start Date</th>
                    <th>End Date</th>
                    <th>Leave Purpose</th>
                    <th>Unit Head</th>
                    <th>HR</th>
                    <th>Status</th>
                    <th class="text-warning">Actions</th>
                </tr>
            </thead>
        </table>*@


        @section scripts{
            <script src="~/new/lib/datatables.bundle.js"></script>
            <script src="~/new/lib/jsrender/jsrender.min.js"></script>

            <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.js"></script>

            <script src="https://cdnjs.cloudflare.com/ajax/libs/jsrender/1.0.7/jsrender.min.js" integrity="sha512-Y6fnBD9Z/4xDuDemzJBaYAQBGD/EOuaonQDW4W3Khf9j6gbvFd+K48MCW9UeMZrs5F/hELIuy7Mjpf/Ss4tRxQ==" crossorigin="anonymous"></script>
            <script src="~/js/site.js"></script>
            @*<script>
                showInPopup = (url, title) => {
                    $.ajax({
                        type: "GET",
                        url: url,
                        success: function (res) {
                            $("#form-modal .modal-body").html(res);
                            $("#form-modal .modal-title").html(title);
                            $("#form-modal").modal('show');
                        }
                    })
                }
            </script>*@

    <script type="text/javascript">
                $(document).ready(function () {

                    $('#leaves').DataTable({
                        ajax: {
                            url: '/units/display',
                            dataSrc: ''
                        },
                        columns: [
                            {
                                bSortable: 0,
                                width: "30px",
                                className: "dt-right",
                                orderable: !1,
                                render: function (e, a, t, n) {
                                    return '\n <label class="m-checkbox m-checkbox--single m-checkbox--solid m-checkbox--brand">\n <input type="checkbox" value="" class="m-checkable">\n <span></span>\n </label>'
                                }
                            },
                            {
                                bSortable: false,
                                data: 'name'
                            },
                            {
                                bSortable: false,
                                data: 'departments'
                            },
                            {
                                bSortable: false,
                                render: function (a, t, n) {
                                    return `\n <span class="dropdown">\n
                                                                                            <a href="javascript:void(0);" class="btn m-btn m-btn--hover-brand m-btn--icon m-btn--icon-only m-btn--pill" data-toggle="dropdown" aria-expanded="true">\n<i class="fas fa-ellipsis-h"></i>\n </a>\n
                                                                                                        <div class="dropdown-menu dropdown-menu-right">
                                                                                                        \n <a class="dropdown-item open-details-modal" href="javascript:void(0);" onclick="showInPopupDetail(`+ n.id + `, '@Url.Action("Details","Units",null,Context.Request.Scheme)','Unit Detail')"><i class="la la-leaf"></i> View Details</a>
                                                                                                        \n <a class="dropdown-item" href="javascript:void(0);" onclick="showInPopupEdit(`+ n.id + `, '@Url.Action("Edit","Units",null,Context.Request.Scheme)','Unit Detail')"><i class="la la-edit"></i> Modify</a>
                                                                                                        \n <a class="dropdown-item" href="javascript:void(0);" onclick="showInPopupDelete(`+ n.id + `)"><i class="la la-edit"></i> Delete</a>
                                                                                                        \n </div>
                                                                                                    \n </span>\n`
                                }
                            }
                        ],
                        lengthMenu: [10, 25, 50, 100, 200],
                        pageLength: 10,
                        language: {
                            search: "Search:  ",
                            lengthMenu: "Display _MENU_"
                        },
                        headerCallback: function (e, a, t, n, s) {
                            e.getElementsByTagName("th")[0].innerHTML = '\n<label class="m-checkbox m-checkbox--single m-checkbox--solid m-checkbox--brand">\n <input type="checkbox" value="" class="m-group-checkable">\n <span></span>\n </label>'
                        },
                        order: []

                    });
                    
                });

                showInPopupDetail = (url, url1, title) => {
                    console.log('Hey')
                    console.log(url1 + '/' + url)
                    var ooo = url1 + '/' + url
                    $.ajax({
                        type: "GET",
                        url: ooo,
                        success: function (res) {
                            console.log("Oga")
                            console.log(res)
                            $("#form-modal1 .modal-body").html(res);
                            $("#form-modal1 .modal-title").html(title);
                            $("#form-modal1").modal('show');
                        },
                        error: function (err) {
                            console.log("Ogaju")
                            console.log(err)
                        }
                    })
                    console.log(data)
        }

        showInPopupEdit = (url, url1, title) => {
            console.log('Hey')
            console.log(url1 + '/' + url)
            var ooo = url1 + '/' + url
            $.ajax({
                type: "GET",
                url: ooo,
                success: function (res) {
                    console.log("Oga")
                    console.log(res)
                    $("#form-modal1 .modal-body").html(res);
                    $("#form-modal1 .modal-title").html(title);
                    $("#form-modal1").modal('show');
                },
                error: function (err) {
                    console.log("Ogaju")
                    console.log(err)
                }
            })
            console.log(data)
        }

        showInPopupDelete = (url) => {
            console.log('Hey')
            //console.log(url1 + '/' + url)
            var ooo = 'units/Remove/' + url
            $.ajax({
                type: "GET",
                url: ooo,
                success: function (response) {
                    window.location.reload();
                },

                error: function (response) {
                    console.log(response)
                }
                //success: function (res) {
                //    console.log("Oga")
                //    console.log(res)
                //    //$("#form-modal1 .modal-body").html(res);
                //    //$("#form-modal1 .modal-title").html(title);
                //    //$("#form-modal1").modal('show');
                //},
                //error: function (err) {
                //    console.log("Ogaju")
                //    console.log(err)
                //}
            })
            
        }


    </script>
        }
