﻿@model Novo.Models.Entity.Leaves

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Leaves</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.StartDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EndDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EndDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EmployeeEmail)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EmployeeEmail)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LeaveType)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LeaveType.Id)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Purpose)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Purpose)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.isUnitHeadApproved)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.isUnitHeadApproved)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.isHrApproved)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.isHrApproved)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TotalLeave)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TotalLeave)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LeaveUtilized)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LeaveUtilized)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LeaveRemaining)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LeaveRemaining)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LeaveRequestStatus)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LeaveRequestStatus)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AddedBy)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AddedBy)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.UpdatedBy)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UpdatedBy)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CreateDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CreateDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.UpdateDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UpdateDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IsDelete)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IsDelete)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
