﻿@model Novo.Models.Entity.Leaves

@{
    ViewData["Title"] = "Details";
}

@*<h2>Details</h2>

<div>
    <h4>Leaves</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.StartDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EndDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EndDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EmployeeEmail)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EmployeeEmail)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LeaveType)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LeaveType.Type)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Purpose)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Purpose)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.isUnitHeadApproved)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.isUnitHeadApproved)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.isHrApproved)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.isHrApproved)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TotalLeave)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TotalLeave)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LeaveUtilized)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LeaveUtilized)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LeaveRemaining)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LeaveRemaining)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LeaveRequestStatus)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LeaveRequestStatus)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AddedBy)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AddedBy)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.UpdatedBy)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UpdatedBy)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CreateDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CreateDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.UpdateDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UpdateDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IsDelete)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IsDelete)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>*@







<div class="col-md-10 m-auto grid-margin grid-margin-md-0">
    <div class="card">
        <div class="card-body">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Home</a></li>
                    <li class="breadcrumb-item"><a asp-action="Index">Leave List</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Leave Details</li>
                </ol>
            </nav><br />

            <div class="adv-table col-md-11 m-auto">



                <table class="table table-hover table-striped table-bordered table-responsive-sm">

                    <thead>



                        <tr>

                            <td>Start Date: </td>
                            <td><b> @Html.DisplayFor(model => model.StartDate)</b></td>


                        </tr>
                        <tr>  <td>End Date: </td><td><b> @Html.DisplayFor(model => model.EndDate)</b> </td></tr>
                        <tr>  <td>Email Name: </td><td><b> @Html.DisplayFor(model => model.EmployeeEmail)</b> </td></tr>
                        <tr><td>Leave Type:</td><td> <b>   @Html.DisplayFor(model => model.LeaveType.Type)</b></td></tr>
                        <tr>
                            <td>Unit Head Approval:</td>
                            <td>
                                <b>
                                    @if (Model.isUnitHeadApproved == false)
                                    {
                                        <p>Not Approved</p>
                                    }
                                    else
                                    {
                                        <p>Approved</p>
                                    }
                                </b>
                            </td>
                        </tr>
                        <tr>
                            <td>HR Approval:</td>
                            <td>
                                <b>
                                    @if (Model.isHrApproved == false)
                                    {
                                        <p>Not Approved</p>
                                    }
                                    else
                                    {

                                        <p>Approved</p>
                                    }
                                </b>
                            </td>
                        </tr>
                        <tr>
                            <td>Leave Status:</td>
                            <td>
                                <b>
                                    @if (Model.isHrApproved == false || Model.isUnitHeadApproved == false)
                                    {
                                        <p>Undergoing Review</p>
                                    }
                                    else
                                    {
                                        <p>Approved</p>
                                    }
                                </b>
                            </td>
                        </tr>
                        <tr><td>leave Type:</td><td> <b>   @Html.DisplayFor(model => model.LeaveType.Type)</b></td></tr>


                    </thead>

                </table>

            </div>

           
            <br />


            <div class="form-group">

                <a asp-action="edit" asp-route-id="@Model.Id" class="btn btn-rounded btn-primary float-left ml-5"><i class="fas fa-plus-square" style="margin-right:0.7em"></i>Edit</a>
                <a asp-action="index" class="btn btn-rounded btn-success float-right mr-5"><i class="fas fa-caret-square-left" style="margin-right:0.7em"></i>Back</a>
                <br />

            </div>
        </div>
</div>
    </div>























    @*<section id="main-content">
        <section class="wrapper">
            <div class="row mb">
                <div class="col-lg-12">
                    <div class="content-panel border rounded">

                        <div class="adv-table">
                            <div class="row">
                                <div class="col-lg-12">
                                    <br />
                                    <h4 align="center">Employee Profile</h4>
                                </div>
                            </div>
                            <br />
                            <hr />
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="col col-md-6">
                                        <table>
                                            <tr>
                                                <td> <i class="fa fa-user fa-4x"></i></td>
                                                <td>
                                                    <h4> Employee Profile</h4>
                                                    <p>&nbsp;&nbsp;&nbsp; View Employee Profile</p>
                                                </td>
                                            </tr>
                                        </table>

                                    </div>
                                    <div class="col col-md-6">


                                        <ol class="breadcrumb">
                                            <li><a href="#"><i class="fa fa-user"></i> Employee</a></li>
                                            <li><a href="#">Profile</a></li>

                                        </ol>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            @{
                var Code = Guid.NewGuid().ToString("n").Substring(0, 8);
                var user = await UserManager.GetUserAsync(User);

            }
            <hr />
            <div class="row mb">

                <div class="col-md-10 m-auto">
                     page start
                    <div class="content-panel border rounded">
                       
                        <div class="adv-table">



                            <table class="table table-hover table-striped table-bordered table-responsive-sm">

                                <thead>



                                    <tr>

                                        <td>Start Date: </td>
                                        <td><b> @Html.DisplayFor(model => model.StartDate)</b></td>


                                    </tr>
                                    <tr>  <td>End Date: </td><td><b> @Html.DisplayFor(model => model.EndDate)</b> </td></tr>
                                    <tr>  <td>Email Name: </td><td><b> @Html.DisplayFor(model => model.EmployeeEmail)</b> </td></tr>
                                    <tr><td>Leave Type:</td><td> <b>   @Html.DisplayFor(model => model.LeaveType.Type)</b></td></tr>
                                    <tr>
                                        <td>Unit Head Approval:</td>
                                        <td>
                                            <b>
                                                @if (Model.isUnitHeadApproved == false)
                                                {
                                                    <p>Not Approved</p>
                                                }
                                                else
                                                {
                                                    <p>Approved</p>
                                                }
                                            </b>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>HR Approval:</td>
                                        <td>
                                            <b>
                                                @if (Model.isHrApproved == false)
                                                {
                                                    <p>Not Approved</p>
                                                }
                                                else
                                                {

                                                    <p>Approved</p>
                                                }
                                            </b>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Leave Status:</td>
                                        <td>
                                            <b>
                                                @if (Model.isHrApproved == false || Model.isUnitHeadApproved == false)
                                                {
                                                    <p>Undergoing Review</p>
                                                }
                                                else
                                                {
                                                    <p>Approved</p>
                                                }
                                            </b>
                                        </td>
                                    </tr>
                                    <tr><td>leave Type:</td><td> <b>   @Html.DisplayFor(model => model.LeaveType.Type)</b></td></tr>
                                    <tr><td>Marital Status:</td><td> <b>   @Html.DisplayFor(model => model.MaritalStatus)</b></td></tr>
        <tr><td>Year(s) Of Experience:</td><td> <b>   @Html.DisplayFor(model => model.YearsOfExperience)</b></td></tr>
        <tr>  <td>Position: </td><td><b> @Html.DisplayFor(model => model.CurrentLevel)</b> </td></tr>
        <tr>  <td>Employee No: </td><td><b> @Html.DisplayFor(model => model.EmployeeNo)</b> </td></tr>
        <tr>  <td>Job Title: </td><td><b> @Html.DisplayFor(model => model.JobTitle)</b> </td></tr>

        <tr>  <td>Date Of Employment: </td><td><b> @Html.DisplayFor(model => model.DateOfEmployment)</b> </td></tr>
        <tr>  <td>Last Promotion: </td><td><b> @Html.DisplayFor(model => model.LastPromotion)</b> </td></tr>
        <tr>  <td>Mode Of Employment: </td><td><b> @Html.DisplayFor(model => model.ModeOfEmployment)</b> </td></tr>
        <tr><td>Unit:</td><td> <b>   @Html.DisplayFor(model => model.Units.Name)</b></td></tr>


                                </thead>

                            </table>

                        </div>

                        <div class="col-md-5">


                            <br />
                            <br />
                            <br />


                        </div>


                    </div>
                </div>
            </div>

        </section>
    </section>*@