﻿


<div>
    <h5 class="text-center text-info">You are not eligible to apply for leave at the moment. Contact the Human Resource Department for clarification</h5>
</div>

   
<div class="card m-3">
    
    <div class="card-footer">
        <a class="btn btn-primary" asp-controller="home" asp-action="Index">Back to Home</a>
    </div>
</div>