﻿


<div>
    <h5 class="text-center text-info">The number of days your applied exceed you remaining leaves. Kindly apply within your leave days or contact the Human Resource Department for clarification</h5>
</div>

   
<div class="card m-3">
    
    <div class="card-footer">
        <a class="btn btn-primary" asp-controller="leaves" asp-action="create">Back to leave</a>
    </div>
</div>