﻿@model Novo.Models.Entity.EmployeeContact

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>EmployeeContact</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.EmployeeId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EmployeeId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.City)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.City)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.State)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.State.Id)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.StateOfOrigin)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.StateOfOrigin)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Lga)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Lga.Id)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Regions)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Regions.Id)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CountryOfOrigin)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CountryOfOrigin)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.BeneficiaryName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BeneficiaryName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.BeneficiaryNo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BeneficiaryNo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.BeneficiaryAddress)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BeneficiaryAddress)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EmergencyName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EmergencyName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EmergencyNo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EmergencyNo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EmergencyAddress)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EmergencyAddress)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AddedBy)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AddedBy)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.UpdatedBy)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UpdatedBy)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CreateDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CreateDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.UpdateDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UpdateDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IsDelete)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IsDelete)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
