﻿@model Novo.Models.Entity.EmployeeContact

@{
    ViewData["Title"] = "Details";
}


@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager


@{
    ViewBag.Title = "Create Employee";
    var Code = Guid.NewGuid().ToString("n").Substring(0, 4);
    var user = await UserManager.GetUserAsync(User);
    //var unit = user.Units.Name;
    var formtype = "hidden";
    var Input = "readonly";
}



<br />
<h2 class="text-info">Employee Details</h2>

<div class="p-4 border rounded row">
    <div class="col-8">
        <div class="form-group row">
            <div class="col-4">
                <label asp-for="Address"></label>
            </div>
            <div class="col-8">
                <input asp-for="Address" readonly class="form-control" />
            </div>
        </div>
        <div class="form-group row">
            <div class="col-4">
                <label asp-for="City"></label>
            </div>
            <div class="col-8">
                <input asp-for="City" readonly class="form-control" />
            </div>
        </div>

        <div class="form-group row">
            <div class="col-4">
                <label asp-for="Lgas"></label>
            </div>
            <div class="col-8">
                <input asp-for="Lgas" readonly class="form-control" />
            </div>
        </div>
        <div class="form-group row">
            <div class="col-4">
                <label asp-for="States"></label>
            </div>
            <div class="col-8">
                <input asp-for="States" readonly class="form-control" />
            </div>
        </div>
        @*<div class="form-group row">
            <div class="col-4">
                <label asp-for="Region"></label>
            </div>
            <div class="col-8">
                <input asp-for="Region" readonly class="form-control" />
            </div>
        </div>*@
        @*<div class="form-group row">
            <div class="col-4">
                <label asp-for="StateOfOrigin"></label>
            </div>
            <div class="col-8">
                <input asp-for="StateOfOrigin" readonly class="form-control" />
            </div>
        </div>*@
        <div class="form-group row">
            <div class="col-4">
                <label asp-for="CountryOfOrigin"></label>
            </div>
            <div class="col-8">
                <input asp-for="CountryOfOrigin" readonly class="form-control" />
            </div>
        </div>
        @*<div class="form-group row">
                <div class="col-4">
                    <label asp-for="@user.Units">Employee Unit</label>
                </div>
                <div class="col-8">
                    <input asp-for="@user.Units" value="@unit" class="form-control" />
                </div>
            </div>*@

        <hr />
        <h5>Beneficiary</h5>
        <div class="form-group row">
            <div class="col-4">
                <label asp-for="BeneficiaryName"></label>
            </div>
            <div class="col-8">
                <input asp-for="BeneficiaryName" readonly class="form-control" />
            </div>
        </div>
        <div class="form-group row">
            <div class="col-4">
                <label asp-for="BeneficiaryNo"></label>
            </div>
            <div class="col-8">
                <input asp-for="BeneficiaryNo" readonly class="form-control" />
            </div>
        </div>
        <div class="form-group row">
            <div class="col-4">
                <label asp-for="BeneficiaryAddress"></label>
            </div>
            <div class="col-8">
                <textarea asp-for="BeneficiaryAddress" readonly class="form-control"></textarea>
            </div>
        </div>

        <hr />
        <h5>Emergency Contact</h5>
        <div class="form-group row">
            <div class="col-4">
                <label asp-for="EmergencyName">Name</label>
            </div>
            <div class="col-8">
                <input asp-for="EmergencyName" readonly class="form-control" />
            </div>
        </div>
        <div class="form-group row">
            <div class="col-4">
                <label asp-for="EmergencyNo"></label>
            </div>
            <div class="col-8">
                <input asp-for="EmergencyNo" readonly class="form-control" />
            </div>
        </div>
        <div class="form-group row">
            <div class="col-4">
                <label asp-for="EmergencyAddress"></label>
            </div>
            <div class="col-8">
                <textarea asp-for="EmergencyAddress" readonly class="form-control"></textarea>
            </div>
        </div>
    </div>


    <div class="col-1">

    </div>
    <div class="col-3">
        @*<img src="@Model.Image" style="border-radius:5px; border:1px solid #bbb9b9; width:100%;" />*@
    </div>


    <br />
    <div class="form-group">
        <a asp-action="Edit" class="btn btn-primary" asp-route-id="@Model.Id">Edit</a>
        @*<a asp-action="Index" class="btn btn-success">Back to List</a>*@
    </div>
</div>