﻿@model Novo.Models.Entity.EmploymentDetails

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>EmploymentDetails</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.EmployeeId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EmployeeId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Fullname)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Fullname)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.BloodGroup)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BloodGroup)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DOB)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DOB)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Gender)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Gender)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MaritalStatus)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MaritalStatus)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Designation)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Designation)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EmployeeNo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EmployeeNo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ModeOfEmployment)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ModeOfEmployment)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.JobTitle)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.JobTitle)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EntryLevel)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EntryLevel)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IsUnitHead)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IsUnitHead)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IsDeptHead)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IsDeptHead)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IsRegionalHead)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IsRegionalHead)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CurrentLevel)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CurrentLevel)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LastPromotion)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LastPromotion)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DateOfEmployment)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DateOfEmployment)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DateOfLeaving)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DateOfLeaving)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.YearsOfExperience)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.YearsOfExperience)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Image)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Image)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CUG)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CUG)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AddedBy)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AddedBy)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.UpdatedBy)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UpdatedBy)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CreateDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CreateDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.UpdateDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UpdateDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IsDelete)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IsDelete)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
