﻿@model Novo.Models.Entity.Request

@using Microsoft.AspNetCore.Identity

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager


@{
    ViewData["Title"] = "Create Request";
    var user = await UserManager.GetUserAsync(User);
}


    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a asp-controller="Tasks" asp-action="Index">Home</a></li>
            <li class="breadcrumb-item">@user.UserName</li>
            <li class="breadcrumb-item active" aria-current="page">Add New Request</li>
        </ol>
    </nav>


<section id="main-content">
    <section class="wrapper">
        <div class="row mb">
            <div class="col-lg-12">
                <!-- /form-panel -->

                <div class="">
                    <!-- page start-->
                    <div class="content-panel border rounded">
                        <div class="adv-table">


                            <div class="row">

                                <div class="col-md-6 offset-2">
                                    <form asp-action="Create">
                                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                        <div class="form-group">
                                            <label asp-for="RequestName" class="control-label"></label>
                                            <input asp-for="RequestName" class="form-control" />
                                            <span asp-validation-for="RequestName" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <label asp-for="RequestDescription" class="control-label"></label>
                                            <textarea asp-for="RequestDescription" class="form-control" rows="5"></textarea>
                                            <span asp-validation-for="RequestDescription" class="text-danger"></span>
                                        </div>

                                        <div class="form-group" hidden>
                                            <label asp-for="EmployeeId" class="control-label"></label>
                                            <input asp-for="EmployeeId" value="@user.Id" class="form-control" />
                                            <span asp-validation-for="EmployeeId" class="text-danger"></span>
                                        </div>

                                        <div class="form-group">
                                            <label asp-for="AssignToId" class="control-label"></label>
                                            <select asp-for="AssignToId" class="form-control" asp-items="ViewBag.AssignToId"></select>
                                        </div>
                                        <div class="form-group">
                                            <label asp-for="Comment" class="control-label"></label>
                                            <input asp-for="Comment" class="form-control" placeholder="Admin Message"/>
                                            <span asp-validation-for="Comment" class="text-danger"></span>
                                        </div>

                                        <div class="form-group" hidden>
                                            <label asp-for="AddedBy" class="control-label"></label>
                                            <input asp-for="AddedBy" value="@user.Email" class="form-control" />
                                            <span asp-validation-for="AddedBy" class="text-danger"></span>
                                        </div>

                                        <div class="form-group" hidden>
                                            <label asp-for="CreateDate" class="control-label"></label>
                                            <input asp-for="CreateDate" value="@DateTime.Now" class="form-control" />
                                            <span asp-validation-for="CreateDate" class="text-danger"></span>
                                        </div>
                                        <div class="form-group" hidden>
                                            <div class="checkbox">
                                                <label>
                                                    <input asp-for="IsDelete" /> @Html.DisplayNameFor(model => model.IsDelete)
                                                </label>
                                            </div>
                                        </div>


                                        <div class="form-group">

                                            <button type="submit" class="btn btn-rounded btn-primary float-left"><i class="fas fa-plus-square" style="margin-right:0.7em"></i>Create</button>
                                            <a asp-action="index" class="btn btn-rounded btn-success float-right"><i class="fas fa-caret-square-left" style="margin-right:0.7em"></i>Back</a>
                                            <br />
                                            <br />
                                        </div>
                                    </form>
                                </div>

                            </div>


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>
<br />
<br />


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
