﻿@model Novo.Models.Entity.Request
@using Microsoft.AspNetCore.Identity

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@{
    ViewData["Title"] = "Request Details";
}


<h3 class="text-center text-info">Request-Information</h3>

<div class="p-4 border rounded row">
    <div class="col-8">
        <div class="form-group row">
            <div class="col-4">
                <label asp-for="RequestName"></label>
            </div>
            <div class="col-8">
                <input asp-for="RequestName" readonly class="form-control" />
            </div>
        </div>
        <div class="form-group row">
            <div class="col-4">
                <label asp-for="RequestDescription"></label>
            </div>
            <div class="col-8">
                <input asp-for="RequestDescription" readonly class="form-control" />
            </div>
        </div>

        <div class="form-group row">
            <div class="col-4">
                <label asp-for="Comment"></label>
            </div>
            <div class="col-8">
                <input asp-for="Comment" readonly class="form-control" />
            </div>
        </div>
        <div class="form-group row">
            <div class="col-4">
                <label asp-for="AddedBy"></label>
            </div>
            <div class="col-8">
                <input asp-for="AddedBy" readonly class="form-control" />
            </div>
        </div>
        <div class="form-group row">
            <div class="col-4">
                <label asp-for="AssignToId"></label>
            </div>
            <div class="col-8">
                <input asp-for="ApplicationUser.UserName" readonly class="form-control" />
            </div>
        </div>
      
    </div>



    <br />
    <div class="form-group">
        <a asp-action="Edit" class="btn btn-primary" asp-route-id="@Model.Id">Edit</a>
        <a asp-action="RequestHI" class="btn btn-success">Back to List</a>
    </div>
</div>


































