﻿@model Novo.Models.Entity.Request
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@{
    ViewData["Title"] = "Edit Task";
    var user = await UserManager.GetUserAsync(User);
}


<div class="col-md-12 m-auto grid-margin stretch-card">
    <div class="card">
        <div class="card-header text-center">
            Welcome back @user.UserName
        </div>
        <div class="card-body">
            <div class="">
                <div class="">
                    <form asp-action="Edit" enctype="multipart/form-data" method="post">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-row">
                            <div class="form-group col-md-5">
                                <label asp-for="RequestName" class="control-label"></label>
                                <input asp-for="RequestName" class="form-control" />
                                <span asp-validation-for="RequestName" class="text-danger"></span>
                            </div>
                            <div class="col-md-1"></div>
                            <div class="form-group col-md-5">
                                <label asp-for="RequestDescription" class="control-label"></label>
                                <input asp-for="RequestDescription" class="form-control" />
                                <span asp-validation-for="RequestDescription" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-5">
                                <label asp-for="Comment" class="control-label"></label>
                                <input asp-for="Comment" class="form-control" placeholder="Hr / U.head please leave status message" />
                                <span asp-validation-for="Comment" class="text-danger"></span>
                            </div>

                        </div>
                        <div class="form-row">
                            @if (SignInManager.IsSignedIn(User) && User.IsInRole("UnitHead"))
                            {
                                <div class="form-group col-md-5" hidden>
                                    <div class="checkbox">
                                        <label>
                                            <input asp-for="isHrApproved" />
                                            <a asp-for="isHrApproved" class="btn btn-sm btn-rounded btn-primary">
                                                <span class="text-white">Approve</span>
                                            </a>
                                        </label>
                                    </div>
                                </div>
                                <div class="col-md-1"></div>
                                <div class="form-group col-md-5">
                                    <div class="checkbox">
                                        <label>
                                            <input asp-for="isUnitHeadApproved" />
                                            <a asp-for="isUnitHeadApproved" class="btn btn-sm btn-rounded btn-primary">
                                                <span class="text-white">Approve</span>
                                            </a>
                                        </label>

                                    </div>
                                </div>
                            }
                            @if (SignInManager.IsSignedIn(User) && User.IsInRole("UnitHead"))
                            {
                                <div class="form-group col-md-5" hidden>
                                    <div class="checkbox">
                                        <label>
                                            <input asp-for="isHrDisapprove" />
                                            <a asp-for="isHrDisapprove" class="btn btn-sm btn-rounded btn-danger">
                                                <span class="text-white">Disapprove</span>
                                            </a>
                                        </label>
                                    </div>
                                </div>
                                <div class="col-md-1"></div>
                                <div class="form-group col-md-5">
                                    <div class="checkbox">
                                        <label>
                                            <input asp-for="isUnitHeadDisapprove" />
                                            <a asp-for="isUnitHeadDisapprove" class="btn btn-sm btn-rounded btn-danger">
                                                <span class="text-white">Disapprove</span>
                                            </a>
                                        </label>
                                    </div>
                                </div>
                            }
                        </div>
                        <div class="form-row">
                            @if (SignInManager.IsSignedIn(User) && User.IsInRole("HR"))
                            {
                                <div class="form-group col-md-5" hidden>
                                    <div class="checkbox">
                                        <label>
                                            <input asp-for="isUnitHeadApproved" />
                                            <a asp-for="isUnitHeadApproved" class="btn btn-sm btn-rounded btn-primary">
                                                <span class="text-white">Approve</span>
                                            </a>
                                        </label>

                                    </div>
                                </div>
                                <div class="col-md-1"></div>
                                <div class="form-group col-md-5">
                                    <div class="checkbox">
                                        <label>
                                            <input asp-for="isHrApproved" />
                                            <a asp-for="isHrApproved" class="btn btn-sm btn-rounded btn-primary">
                                                <span class="text-white">Approve</span>
                                            </a>
                                        </label>
                                    </div>
                                </div>
                            }

                            @if (SignInManager.IsSignedIn(User) && User.IsInRole("HR"))
                            {
                                <div class="form-group col-md-5" hidden>
                                    <div class="checkbox">
                                        <label>
                                            <input asp-for="isUnitHeadDisapprove" />
                                            <a asp-for="isUnitHeadDisapprove" class="btn btn-sm btn-rounded btn-danger">
                                                <span class="text-white">Disapprove</span>
                                            </a>
                                        </label>
                                    </div>
                                </div>
                                <div class="form-group col-md-5">
                                    <div class="checkbox">
                                        <label>
                                            <input asp-for="isHrDisapprove" />
                                            <a asp-for="isHrDisapprove" class="btn btn-sm btn-rounded btn-danger">
                                                <span class="text-white">Disapprove</span>
                                            </a>
                                        </label>
                                    </div>
                                </div>
                            }
                        </div>

                        <input type="hidden" asp-for="Id" />
                        <input type="hidden" asp-for="AssignToId" />
                        <input type="hidden" asp-for="EmployeeId" />

                        <div class="form-group" hidden>
                            <label asp-for="AddedBy" class="control-label"></label>
                            <input asp-for="AddedBy" class="form-control" />
                            <span asp-validation-for="AddedBy" class="text-danger"></span>
                        </div>
                        <div class="form-group" hidden>
                            <label asp-for="UpdatedBy" class="control-label"></label>
                            <input asp-for="UpdatedBy" class="form-control" />
                            <span asp-validation-for="UpdatedBy" class="text-danger"></span>
                        </div>
                        <div class="form-group" hidden>
                            <label asp-for="CreateDate" class="control-label"></label>
                            <input asp-for="CreateDate" class="form-control" />
                            <span asp-validation-for="CreateDate" class="text-danger"></span>
                        </div>
                        <div class="form-group" hidden>
                            <label asp-for="UpdateDate" class="control-label"></label>
                            <input asp-for="UpdateDate" class="form-control" />
                            <span asp-validation-for="UpdateDate" class="text-danger"></span>
                        </div>
                        <div class="form-group" hidden>
                            <div class="checkbox">
                                <label>
                                    <input asp-for="IsDelete" /> @Html.DisplayNameFor(model => model.IsDelete)
                                </label>
                            </div>
                        </div>

                        <div class="form-group">

                            <button type="submit" class="btn btn-rounded btn-primary float-left"><i class="fas fa-plus-square" style="margin-right:0.7em"></i>Update</button>
                            @if (SignInManager.IsSignedIn(User) && User.IsInRole("User"))
                            {
                                <a asp-action="index" asp-controller="Requests" class="btn btn-rounded btn-success float-right"><i class="fas fa-caret-square-left" style="margin-right:0.7em"></i>Back</a>
                            }


                            @if (SignInManager.IsSignedIn(User) && User.IsInRole("HR"))
                            {
                                <a asp-action="RequestHI" asp-controller="Requests" class="btn btn-rounded btn-success float-right"><i class="fas fa-caret-square-left" style="margin-right:0.7em"></i>Back</a>
                            }

                            @if (SignInManager.IsSignedIn(User) && User.IsInRole("UnitHead"))
                            {
                                <a asp-action="RequestUH" asp-controller="Requests" class="btn btn-rounded btn-success float-right"><i class="fas fa-caret-square-left" style="margin-right:0.7em"></i>Back</a>
                            }
                            <br />
                            <br />
                            <br />

                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="card-footer text-center">
            @user.UserName
        </div>
    </div>
</div>
<br />
<br />



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
