﻿@model Novo.Models.Entity.Appraise

@{
    ViewData["Title"] = "Details";
    Layout = null;
}

    <div class="col-8" style="margin:auto;">
        <div class="form-group row">
            <div class="col-4">
                <label asp-for="AppraisalDate"></label>
            </div>
            <div class="col-8">
                <input asp-for="AppraisalDate" readonly class="form-control" />
            </div>
        </div>

        <div class="form-group row">
            <div class="col-4">
                <label asp-for="HeadOfUnitRemark"></label>
            </div>
            <div class="col-8">
                <input asp-for="HeadOfUnitRemark" readonly class="form-control" />
            </div>
        </div>
        <div class="form-group row">
            <div class="col-4">
                <label asp-for="HrRemark"></label>
            </div>
            <div class="col-8">
                <input asp-for="HrRemark" readonly class="form-control" />
            </div>
        </div>

        <div class="form-group row">
            <div class="col-4">
                <label asp-for="Grade"></label>
            </div>
            <div class="col-8">
                <input asp-for="Grade" readonly class="form-control" />
            </div>
        </div>

        <div class="form-group row">
            <div class="col-4">
                <label asp-for="AppraisalMode"></label>
            </div>
            <div class="col-8">
                <input asp-for="AppraisalMode" readonly class="form-control" />
            </div>
        </div>

        <div class="form-group row">
            <div class="col-4">
                <label asp-for="EmployeeRating"></label>
            </div>
            <div class="col-8">
                <input asp-for="EmployeeRating" readonly class="form-control" />
            </div>
        </div>

        <div class="form-group row">
            <div class="col-4">
                <label asp-for="ManagerRating"></label>
            </div>
            <div class="col-8">
                <input asp-for="ManagerRating" readonly class="form-control" />
            </div>
        </div>

        <div class="form-group row">
            <div class="col-4">
                <label asp-for="HrRating"></label>
            </div>
            <div class="col-8">
                <input asp-for="HrRating" readonly class="form-control" />
            </div>
        </div>

      
            <div class="form-group">
                <a asp-action="Index" class="btn btn-success">Back</a>
            </div>
    </div>


@*<h2>Details</h2>*@

@*<div>
    <h4>Appraise</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.EmployeeId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EmployeeId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AppraisalDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AppraisalDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.HeadOfUnitRemark)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.HeadOfUnitRemark)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.HrRemark)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.HrRemark)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Grade)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Grade)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AppraisalMode)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AppraisalMode)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EmployeeRating)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EmployeeRating)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ManagerRating)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ManagerRating)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.HrRating)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.HrRating)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AddedBy)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AddedBy)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.UpdatedBy)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UpdatedBy)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CreateDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CreateDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.UpdateDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UpdateDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IsDelete)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IsDelete)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>*@
