﻿@model IEnumerable<Novo.Models.Entity.Appraise>
@using Novo.Models
@using Microsoft.AspNetCore.Identity

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@{
    ViewData["Title"] = "Staff List";
}



<div class="row">
    <div class="col-md-12 grid-margin">
        <div class="card">
            <div class="card-body">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Departments List</li>
                    </ol>
                </nav>
                <div class="row">
                    <div class="col-md-12 table-responsive-md">
                        @*<a class="btn btn-md btn-outline-success float-md-right" onclick="showInPopupDept('@Url.Action("Create","Departments",null,Context.Request.Scheme)','New Department')">
                            Add new Department
                        </a>
                        <br />
                        <br />*@

                        <div class="card shadow mb-4">

                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table table-bordered" id="leaves" width="100%" cellspacing="0">
                                        <thead>
                                            <tr>
                                                <th></th>
                                                <th>Appraisal Mode</th>
                                                <th>Appraisal Date</th>
                                                <th>Employee Rating</th>
                                                <th>Manager Rating</th>
                                                <th>HR Rating</th>
                                                <th>Grade</th>
                                                <th class="text-warning">Actions</th>
                                            </tr>
                                        </thead>

                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal" tabindex="-1" id="form-modal1">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

            </div>
        </div>
    </div>
</div>



@section scripts{
    <script src="~/new/lib/datatables.bundle.js"></script>
    <script src="~/new/lib/jsrender/jsrender.min.js"></script>

    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jsrender/1.0.7/jsrender.min.js" integrity="sha512-Y6fnBD9Z/4xDuDemzJBaYAQBGD/EOuaonQDW4W3Khf9j6gbvFd+K48MCW9UeMZrs5F/hELIuy7Mjpf/Ss4tRxQ==" crossorigin="anonymous"></script>
    <script src="~/js/site.js"></script>

    <script type="text/javascript">
                $(document).ready(function () {

                    $('#leaves').DataTable({
                        ajax: {
                            url: '/appraisals/display',
                            dataSrc: ''
                        },
                        columns: [
                            {
                                bSortable: 0,
                                width: "30px",
                                className: "dt-right",
                                orderable: !1,
                                render: function (e, a, t, n) {
                                    return '\n <label class="m-checkbox m-checkbox--single m-checkbox--solid m-checkbox--brand">\n <input type="checkbox" value="" class="m-checkable">\n <span></span>\n </label>'
                                }
                            },
                            {
                                bSortable: false,
                                data: 'appraisalMode'
                            },
                            {
                                bSortable: false,
                                data: 'appraisalDate'
                            },
                            {
                                bSortable: false,
                                data: 'employeeRating'
                            },
                            {
                                bSortable: false,
                                data: 'managerRating'
                            },
                            {
                                bSortable: false,
                                data: 'hrRating'
                            },
                            {
                                bSortable: false,
                                data: 'grade'
                            },
                            {
                                bSortable: false,
                                render: function (a, t, n) {
                                    return `\n <span class="dropdown">\n
                                                                                            <a href="javascript:void(0);" class="btn m-btn m-btn--hover-brand m-btn--icon m-btn--icon-only m-btn--pill" data-toggle="dropdown" aria-expanded="true">\n<i class="fas fa-ellipsis-h"></i>\n </a>\n
                                                                                                        <div class="dropdown-menu dropdown-menu-right">
                                                                                                        \n <a class="dropdown-item open-details-modal" href="javascript:void(0);" onclick="showInPopupDetail(`+ n.id + `, '@Url.Action("Detail","Appraisals",null,Context.Request.Scheme)','Appraisal Detail')"><i class="la la-leaf"></i> View Details</a>
                                                                                                        @*\n <a class="dropdown-item" href="javascript:void(0);" onclick="showInPopupEdit(`+ n.id + `, '@Url.Action("Edit","Departments",null,Context.Request.Scheme)','Unit Detail')"><i class="la la-edit"></i> Modify</a>*@
                                                                                                        \n <a class="dropdown-item" href="javascript:void(0);" onclick="showInPopupDelete(`+ n.id + `)"><i class="la la-edit"></i> Delete</a>
                                                                                                        \n </div>
                                                                                                    \n </span>\n`
                                }
                            }
                        ],
                        lengthMenu: [10, 25, 50, 100, 200],
                        pageLength: 10,
                        language: {
                            search: "Search:  ",
                            lengthMenu: "Display _MENU_"
                        },
                        headerCallback: function (e, a, t, n, s) {
                            e.getElementsByTagName("th")[0].innerHTML = '\n<label class="m-checkbox m-checkbox--single m-checkbox--solid m-checkbox--brand">\n <input type="checkbox" value="" class="m-group-checkable">\n <span></span>\n </label>'
                        },
                        order: []

                    });

                });

            showInPopupDept = (url, title) => {
                console.log("Hey")
                $.ajax({
                    type: "GET",
                    url: url,
                    success: function (res) {
                        console.log("Oga")
                        console.log(res)
                        $("#form-modal .modal-body").html(res);
                        $("#form-modal .modal-title").html(title);
                        $("#form-modal").modal('show');
                    },
                    error: function (err) {
                        console.log(err)
                    }
                })
            }

                showInPopupDetail = (url, url1, title) => {
                    console.log('Hey')
                    console.log(url1 + '/' + url)
                    var ooo = url1 + '/' + url
                    $.ajax({
                        type: "GET",
                        url: ooo,
                        success: function (res) {
                            console.log("Oga")
                            console.log(res)
                            $("#form-modal1 .modal-body").html(res);
                            $("#form-modal1 .modal-title").html(title);
                            $("#form-modal1").modal('show');
                        },
                        error: function (err) {
                            console.log("Ogaju")
                            console.log(err)
                        }
                    })
                    console.log(data)
        }

        showInPopupEdit = (url, url1, title) => {
            console.log('Hey')
            console.log(url1 + '/' + url)
            var ooo = url1 + '/' + url
            $.ajax({
                type: "GET",
                url: ooo,
                success: function (res) {
                    console.log("Oga")
                    console.log(res)
                    $("#form-modal1 .modal-body").html(res);
                    $("#form-modal1 .modal-title").html(title);
                    $("#form-modal1").modal('show');
                },
                error: function (err) {
                    console.log("Ogaju")
                    console.log(err)
                }
            })
            console.log(data)
        }

        showInPopupDelete = (url) => {
            console.log('Hey')
            //console.log(url1 + '/' + url)
            var ooo = 'appraisals/Remove/' + url
            $.ajax({
                type: "GET",
                url: ooo,
                success: function (response) {
                    window.location.reload();
                },

                error: function (response) {
                    console.log(response)
                }
                //success: function (res) {
                //    console.log("Oga")
                //    console.log(res)
                //    //$("#form-modal1 .modal-body").html(res);
                //    //$("#form-modal1 .modal-title").html(title);
                //    //$("#form-modal1").modal('show');
                //},
                //error: function (err) {
                //    console.log("Ogaju")
                //    console.log(err)
                //}
            })

        }


    </script>
}





@*<section id="main-content">
        <section class="wrapper">
            <div class="row mb">
                <div class="col-lg-12">
                    <div class="content-panel border rounded">

                        <div class="adv-table">
                            <div class="row">
                                <div class="col-lg-12">

                                </div>
                            </div>
                            <br />

                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="col col-md-6">
                                        <table>
                                            <tr>
                                                <td>
                                                    <i class="fa fa-thumbs-o-up
                                                        fa-4x"></i>
                                                </td>
                                                <td>
                                                    <h4>
                                                        Appraisal</h4>
                                                        <p>&nbsp;&nbsp;&nbsp; Manage Appraisal</p>
                                                </td>
                                            </tr>
                                        </table>


                                    </div>
                                    <div class="col col-md-6">


                                        <ol class="breadcrumb">
                                            <li>
                                                <a href="#">
                                                    <i class="fa fa-thumbs-o-up
                                                               "></i> Apraisal List

                                                </a>
                                            </li>
                                            <li><a href="#">Index</a></li>

                                        </ol>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>






            <div class="row mb">
                <div class="col-lg-12">

                    <div class="content-panel border rounded">

                        <div class="adv-table">
                            <p>
                                <br /><br />
                            </p>
                            <table id="datatable" class="table-responsive
                                   table-bordered" cellspacing="0" width="97%">
                                <thead>
                                    <tr>

                                        <th>
                                            @Html.DisplayNameFor(model => model.AppraisalDate)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.AppraisalMode)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.EmployeeRating)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.ManagerRating)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.HrRating)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Grade)
                                        </th>

                                        <th>
                                            @Html.DisplayNameFor(model => model.HeadOfUnitRemark)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.HrRemark)
                                        </th>

                                        <th>
                                            @Html.DisplayNameFor(model => model.CreateDate)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.UpdateDate)
                                        </th>

                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                    <tr>

                                        <td>
                                            @Html.DisplayFor(modelItem => item.AppraisalDate)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.AppraisalMode)
                                        </td>

                                        <td>
                                            @Html.DisplayFor(modelItem => item.EmployeeRating)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.ManagerRating)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.HrRating)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Grade)
                                        </td>

                                        <td>
                                            @Html.DisplayFor(modelItem => item.HeadOfUnitRemark)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.HrRemark)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.CreateDate)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.UpdateDate)
                                        </td>

                                        <td>
                                            <div class="btn-group">
                                                <button type="button" class="btn btn-purple dropdown-toggle btn-xs" data-toggle="dropdown" aria-expanded="true">
                                                    action <span class="caret"></span>
                                                </button>
                                                <ul class="dropdown-menu" role="menu">
                                                    <li>
                                                        <a asp-action="Edit" asp-route-id="@item.Id" class=""><i class="fa fa-pencil" style="color:blue"></i>    Edit</a>
                                                    </li>
                                                    <li>
                                                        <hr />
                                                        <a asp-action="Details" asp-route-id="@item.Id" class=""><i class="fa fa-th-list" style="color:green"></i> Details</a>
                                                    </li>
                                                    <li>
                                                        <hr />
                                                        <a asp-action="Delete" class="" asp-route-id="@item.Id"><i class="fa fa-trash" style="color:red"></i> Delete</a>
                                                    </li>

                                                </ul>
                                            </div>
                                        </td>

                                    </tr>
                                    }
                                </tbody>
                            </table>
                            <p>
                                <br /><br />
                            </p>

                        </div>
                    </div>
                </div>
            </div>


        </section>
    </section>*@